.advantages {
    min-height: 473px;
    padding: 70px 0 65px 0;
    background-color: #f6f6f6;
    &__header {
        font-size: 30px;
        text-align: center;
        color: #0D0D0D;
        text-transform: uppercase;
    }
    &__wrapper {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        max-width: 238px;
        height: 240px;
        img {
            display: block;
            margin: 0 auto;
        }
        h3 {
            margin-top: 35px;
            font-size: 18px;
            text-align: center;
            color: #0D0D0D;
        }
    }
    &__text {
        margin-top: 20px;
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        color: #0D0D0D;
        a {
            color: $main-color;
            text-decoration: underline;
        }
    }
}